[user]
	email = ken@morsemicro.com
	name = Ken Zhang
[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff
    ds = diff --staged
    lg = log -p
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --pretty=format:'%C(auto)%h -%d %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    ls = ls-files
    unstage = reset HEAD

    # Show files ignored by git:
    ign = ls-files -o -i --exclude-standard
[color]
        ui = true

[pull]
	rebase = true

[core]
    excludesfile = ~/.gitignore
